section#introducao{
    height: 600px;
}

article#texto_introducao{
    min-width: 200px;
    max-width: 490px;
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    top: 300px;
    right: 50px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.300);
}

article#texto_introducao > h1{
    margin: 3px 0px;
}